<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 550px;
        width: 100%;
       }
    </style>
  </head>
  <body>

  <div class= "container-fluid baner">
    <div class="row"> 
      <div class="col-xs-6 col-md-7 col-lg-7">
        <h1 class="titulo" id="titulo">De Turismo por el Eje</h1>
      </div>
      <div class="col-xs-1 col-md-1 col-lg-1 banner-btn">
      <br>
        <div id="titulo">
          <% if session[:sus] or session[:admin] or session[:root] %>
            <%= button_to 'Volver', home_index_path ,class:"btn btn-default btn-lg" %>
          <% end %>
        </div> 
      </div>
    </div>
  </div>
  
    <h3>A Donde Ir</h3>
    <div id="map"></div>

    <input type="hidden" id="tamaño" value="<%= @marcs.length%>">
    <input type="hidden" id="posicion_lat" value="">
    <input type="hidden" id="posicion_lon" value="">
    <script>
          function initMap() {
          var uluru = {lat: 4.784079, lng: -75.689205};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
          });

          var i = 0;
          var marker = new Array();
          var infowindow = new Array();
          var contentString = new Array();
          var tamaño = parseFloat(document.getElementById("tamaño").value);
          while(i < tamaño){
            <% while @i < @marcs.length %>
            if (i < tamaño){
                <% if @i < @marc.length %> 
                  document.getElementById("posicion_lon").value = "<%= @marc[@i].Longitud%>";
                  document.getElementById("posicion_lat").value = "<%= @marc[@i].Latitud%>";
                <% end %>
              }
            var posicion_lat = parseFloat(document.getElementById("posicion_lat").value);
            var posicion_log = parseFloat(document.getElementById("posicion_lon").value);
            var posicion = {lat: posicion_lat, lng: posicion_log};
            marker[i] = new google.maps.Marker({
              id: i,
              position: posicion,
              map: map,
              title: 'Uluru (Ayers Rock)'
            });

            <% if @marc[@i].Imagen == "" %>
                <%@marc[@i].Imagen = "http://img.rtve.es/css/i/blank.gif" %>
              <%end%>
              
            <% if @marc[@i].Video == "http://img.rtve.es/css/i/blank.gif" %>
              <% @width_video = 1 %>
              <% @height_video = 1 %>
            <% else %>
              <% @width_video = 420 %>
              <% @height_video = 315 %>
            <% end %>

            <% if @marc[@i].Imagen == "http://img.rtve.es/css/i/blank.gif" %>
              <% @width = 1 %>
              <% @height = 1 %>
            <% else %>
              <% @width = 420 %>
              <% @height = 315 %>
            <% end %>

              contentString[i] = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading"><%= @marc[@i].Nombre %></h1>'+
                '<div id="bodyContent">'+
                '<p><%= @marc[@i].Texto %></p>'+
                '<img src = <%=@marc[@i].Imagen%> width=<%= @width %> height=<%= @height %> >'+
                '<center><iframe width=<%= @width_video %> height=<%= @height_video %> '+
              'src= <%=@marc[@i].Video%>>'+
                '</iframe></center>'+ 
                '</div>'+
                '</div>';



            

            infowindow[i] = new google.maps.InfoWindow({
            content: contentString[i]
            });

            marker[i].addListener('click', function() {
            infowindow[this.id].open(map, this);
            $("#Modificar").show();
            $("#Marcador").hide();
            });

            i=i+1;
            <% @i = @i+1 %>;
            <% end %>
          } 

        }
      </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBWHqhQhcKgZQnTT4Zqa3wkO4DYu-xdiw&callback=initMap">
    </script>
  </body>
</html>