<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="body-index">

<div class = "Cabecera">
  <div class = "container-fluid">
    <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <h1 class="Cabecera" id="Cabecera">
                De Turismo por el Eje
            </h1>
          </div>
    </div>
  </div>
</div>

<div class="baner">
  <div class = "container-fluid" >
	  <div class= "container-fluid">
		  <div class="row">	
			   <div class="Cabecera">     
            <div class="pull-right banner-btn">
              <div id="titulo">
                <% if session[:sus] or session[:admin] or session[:root] %>
                <%= button_to 'Salir', {action:"salir"} ,class:"btn btn-danger btn-lg" %>
              <% end %>
              </div> 
            </div>
            
            <div class="pull-right banner-btn">
              <div id="titulo">
                <% if session[:sus] or session[:admin] or session[:root] %> 
                  <%= button_to 'Acceder', elegir_rol_elegir_path ,class:"btn btn-default btn-lg" %>
                <% else %>
                  <%= button_to 'Ingresar', ingreso_session_path ,class:"btn btn-default btn-lg" %>
                <% end %>
              </div>
            </div>

      
            <div class="pull-right banner-btn">
              <div id="titulo">
              <% unless session[:sus] or session[:admin] or session[:root] %>
                <%= button_to 'Suscribirse', registro_usuarios_registro_path ,class:"btn btn-color btn-lg" %>
              <%else%>
                <%= button_to 'Solicitar Rol', solicitar_rol_solicitud_path ,class:"btn btn-color btn-lg" %>
              <% end %>
              </div> 
            </div>
      
          </div>
      </div>
    </div>
  </div>  
</div> 


<div style="position: relative;">
  <div style="position: absolute; top: 120px; z-index: 1;"> 
    <div class="row">
      <div class="container-fluid">
          <div class="col-md-4">
            <div class="thumbnail">
                  <%= image_tag "chipre.jpg"%>           
                  <h3 id="Titulitos"><center>Mirador de Chipre</center></h3>
                  <p id="Descripcion">
                      Desde el Mirador de Chipre se puede tener una excelente panorámica  de la cordillera y de los nevados del Ruiz y Santa Isabel, también de  los valles de los ríos Cauca y Risaralda.

                      Además allí encontrarás actividades como Columpio extremo y caminata al aire libre a una altura de 30 metros juegos mecánicos e interactivos para niños y adultos Servicio de bar, cafetería y restaurante 
                  </p>
            </div>    
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
                  <%= image_tag "eje-cafetero.jpg"%>           
                  <h3 id="Titulitos"><center>Eje Cafetero</center></h3>
                  <p id="Descripcion">
                      <br>
                      Esta es la zona de mayor producción de café colombiano, famoso en el mundo por su sabor y calidad. Los departamentos que integran el Eje cafetero son Risaralda, Quindío y Caldas, tierras con gente cálida, hermosos paisajes, aguas termales y picos nevados. Se caracteriza por los cafetales interminables adornados de inmensas cascadas y árboles multicolores.
                      <br>
                  </p>
            </div>    
          </div>

         <div class="col-md-4">
            <div class="thumbnail">
                  <%= image_tag "yipao.jpg"%>           
                  <h3 id="Titulitos"><center>Desfile y Concurso de Yipao</center></h3>
                  <p id="Descripcion">
                      <br>
                      En un municipio del Quindío, los habitantes del pueblo de Calarcá, parte del paisaje cultural cafetero, decoran las calles y casas con flores y adornos alusivos a las fiestas nacionales del café.Durante estas festividades en Calarcá eje cafetero se concentra en un solo evento, el desfile y concurso del yipao.  
                      <br>
                      <br>
                  </p>
            </div>    
          </div> 
      </div>
    </div> 
  </div> 
</div> 

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <%= image_tag ("1.jpg")%>
      </div>

      <div class="item">
        <%= image_tag "2.jpg"%>
      </div>
    
      <div class="item">
        <%= image_tag "3.jpg"%>
      </div>

      <div class="item">
        <%= image_tag "4.jpg"%>
      </div>

      <div class="item">
        <%= image_tag "5.jpg"%>
      </div>

    </div>
</div>
</body>
</html>