<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="bodyS">

<div class = "Cabecera">
  <div class = "container-fluid">
    <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <h1 class="Cabecera center" id="Cabecera">
                De Turismo por el Eje
            </h1>
          </div>
    </div>
  </div>
</div>

<div class="baner">
  <div class = "container-fluid" >
	  <div class= "container-fluid">
		  <div class="row">	
			   <div class="Cabecera center">
            
            <div class="pull-right banner-btn">
              <div id="titulo">
                <% if session[:sus] or session[:admin] or session[:root] %>
                <%= button_to 'Salir', {action:"salir"} ,class:"btn btn-danger btn-lg" %>
              <% end %>
              </div> 
            </div>
            
            <div class="pull-right banner-btn">
              <div id="titulo">
                <% if session[:sus] or session[:admin] or session[:root] %> 
                  <%= button_to 'Acceder', elegir_rol_elegir_path ,class:"btn btn-default btn-lg" %>
                <% else %>
                  <%= button_to 'Ingresar', ingreso_session_path ,class:"btn btn-default btn-lg" %>
                <% end %>
              </div>
            </div>

      
            <div class="pull-right banner-btn">
              <div id="titulo">
              <% unless session[:sus] or session[:admin] or session[:root] %>
                <%= button_to 'Suscribirse', registro_usuarios_registro_path ,class:"btn btn-color btn-lg" %>
              <% else %>
                <%= button_to 'Solicitar Rol', registro_usuarios_registro_path ,class:"btn btn-color btn-lg" %>
              <% end %>
              </div> 
            </div>
      
          </div>
      </div>
    </div>
  </div>  
</div>  

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <%= image_tag ("1.jpg")%>
        <div class="carousel-caption">
          <h3>Armenia, Quindio</h3>
          <p>Paisaje Cultural Cafetero</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "2.jpg"%>
        <div class="carousel-caption">
          <h3>Cafe</h3>
          <p>Producto de nuestra tierra!</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag "3.jpg"%>
        <div class="carousel-caption">
          <h3>Salento, Quindio</h3>
          <p>Valle del Cocora</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "4.jpg"%>
        <div class="carousel-caption">
          <h3>Santa Rosa de Cabal, Risaralda</h3>
          <p>Termales</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "5.jpg"%>
        <div class="carousel-caption">
          <h3>Manizales, Caldas</h3>
          <p>Panoramica de la ciudad</p>
        </div>
      </div>

    </div>
</div>


</body>
</html>