<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 550px;
        width: 100%;
       }
    </style>
  </head>
  <body>

  	<div class= "container-fluid baner">
		<div class="row">	
			<div class="col-xs-6 col-md-7 col-lg-7">
				<h1 class="titulo" id="titulo">De Turismo por el Eje</h1>
			</div>
      <div class="col-xs-1 col-md-1 col-lg-1 banner-btn">
      <br>
        <div id="titulo">
          <% if session[:sus] or session[:admin] or session[:root] %>
				    <% #<button class="btn btn-info btn-lg" onclick ="Solicitud()">Solicitar cambio</button> %>
				    <%= button_to 'Volver', home_index_path ,class:"btn btn-default btn-lg" %>
          <% end %>
        </div> 
      </div>
		</div>
	</div>

	<div class="container-fluid">
	<div class="row">
	  <div class="col-xs-6 col-md-6 col-lg-6" id="ListaSuscrito">
	    <label for="ListaSuscrito" id="titulo"><h1>Usuarios Suscritos</h1></label>
	        <table class="table table-hover">
	          <thead>
	            <tr>
	              <th>Id Suscrito</th>
	              <th>Correo</th>
	              <th>Estado</th>
	              <th>Cuenta</th>
	            </tr>
	          </thead>
	          <tbody>
	            <% iterador = 0 %> 
	            <% while iterador < @datos.length do  %>
	              	<%if filtro_interes(@datos[iterador].Correo, session[:email])%> 
		              <tr id="<% @datos[iterador].IdSuscrito %>">
		                  <td> <%= @datos[iterador].IdSuscrito %> </td>
		                  <td> <%= @datos[iterador].Correo %> </td>
		                  <% if @datos[iterador].Aprobado == 0%>
		                    <td>No aprobado</td>
		                  <% else %>
		                    <td>Aprobado</td>
		                  <% end %>
		                  <% if @datos[iterador].Activo == 0%>
		                    <td>Inhabilitada</td>
		                  <% else %>
		                    <td>Habilitada</td>
		                  <% end %>
		                  <td><%= form_for(:usuario, url: {:action => :aprobar}) do |f| %>
		                        	<%= f.hidden_field :correo, :value => @datos[iterador].Correo %>
		                        	<% if @datos[iterador].Aprobado == 0%>
		                        		<%= f.submit "Aprobar" ,class:"btn btn-default btn-lg"%>
		                        	<% end %>  
		                  		<% end %>
		                  </td>
		                  <td><%= form_for(:usuario, url: {:action => :eliminar}) do |a| %>
		                        	<%= a.hidden_field :correo, :value => @datos[iterador].Correo %>
		                        	<% if @datos[iterador].Activo == 0 %>          
							          <%= a.submit "Habilitar",class:"btn btn-default btn-lg"%>
							        <% else %>
							          <%= a.submit "Inhabilitar",class:"btn btn-default btn-lg"%>
							        <% end %>  
		                  		<% end %>
		                  </td>
		              </tr>
		            <% end %>
	              <% iterador = iterador +1 %>
	            <% end %>
	           <input type="hidden" id="superficie" value="<%= @zona.Superficie %>">
	           <input type="hidden" id="latitud" value="<%= @zona.Latitud %>">
	           <input type="hidden" id="longitud" value="<%= @zona.Longitud %>">
	           <input type="hidden" id="tamaño" value="<%= @marc.length%>">
	           <input type="hidden" id="posicion_lat" value="">
	           <input type="hidden" id="posicion_lon" value="">
	          </tbody>
	        </table>
	  	<div class="row">
	  		<div class="col-xs-6 col-md-6 col-lg-6" id="Marcador" hidden="">
	  			<%= form_for(:marcador, url: {:action => :agregar_contenido}) do |f| %>
	  				<p>Ingrese el nombre</p>
	  				<%= f.text_field :nombre, autofocus: true, autocomplete: "off"  ,class:"form-control" %>
	  				<p>Ingrese el texto</p>
	  				<%= f.text_field :texto, autofocus: true , autocomplete: "off" ,class:"form-control" %>
	  				<p>Ingrese el link de la imagen</p>
	  				<%= f.text_field :imagen, autofocus: true , autocomplete: "off" ,class:"form-control" %>
	  				<p>Ingrese el link de video(Solo Youtube)</p>
	  				<%= f.text_field :video, autofocus: true , autocomplete: "off" ,class:"form-control" %>
	  				<%= f.hidden_field :longitud, :value => "" %>
	  				<%= f.hidden_field :latitud, :value => "" %>
	  				<%= f.submit "Guardar", class:"btn btn-default btn-lg"%>
	  			<% end %>
	  		</div>
	  		<div class="col-xs-6 col-md-6 col-lg-6" id="Modificar" hidden="">
	  			<%= form_for(:modificar, url: {:action => :modificar_contenido}) do |f| %>
	  				<p>Modificar el titulo</p>
	  				<%= f.text_field :nom, autofocus: true, autocomplete: "off" ,class:"form-control" %>
	  				<p>Modificar el texto</p>
	  				<%= f.text_field :tex, autofocus: true , autocomplete: "off" ,class:"form-control" %>
	  				<p>Modificar el link de la imagen</p>
	  				<%= f.text_field :img, autofocus: true , autocomplete: "off" ,class:"form-control" %>
	  				<p>Modificar el link de video(Solo Youtube)</p>
	  				<%= f.text_field :vid, autofocus: true , autocomplete: "off" ,class:"form-control" %>
	  				<%= f.submit "Modificar", class:"btn btn-default btn-lg"%>
	  				<%= f.hidden_field :id, :value => "" %>
	  			<% end %>
	  			<%= form_for(:eliminar, url: {:action => :eliminar_marcador}) do |f| %>
	  				<%= f.hidden_field :id, :value => "" %>
	  				<%= f.submit "Eliminar", class:"btn btn-default btn-lg"%>
	  			<% end %>
	  			<button class="btn btn-info btn-lg" onclick ="Volver()">Volver</button>
	  		</div>
	  	</div>
	  	</div>

	  	<div class="col-xs-6 col-md-6 col-lg-6">
			<h3>A Donde Ir</h3>
			<div id="map"></div>
			<script>
				  function Volver(){
				  	$("#Marcador").hide();
				  	$("#Modificar").hide();
				  }

				  function initMap() {
				  var uluru = {lat: 4.784079, lng: -75.689205};
				  var map = new google.maps.Map(document.getElementById('map'), {
				    zoom: 10,
				    center: uluru
				  });

				  var i = 0;
				  var marker = new Array();
				  var infowindow = new Array();
				  var contentString = new Array();
				  var tamaño = parseFloat(document.getElementById("tamaño").value);
				  while(i < tamaño){
				  	<% while @i < @marc.length %>
					  	if (i < tamaño){
					  		<% if @i < @marc.length %> 
					  			document.getElementById("posicion_lon").value = "<%= @marc[@i].Longitud%>";
					  			document.getElementById("posicion_lat").value = "<%= @marc[@i].Latitud%>";
					  		<% end %>
					  	}
					  	var posicion_lat = parseFloat(document.getElementById("posicion_lat").value);
					  	var posicion_log = parseFloat(document.getElementById("posicion_lon").value);
					  	var posicion = {lat: posicion_lat, lng: posicion_log};
					  	marker[i] = new google.maps.Marker({
					  		id: i,
					    	position: posicion,
					    	map: map,
					    	title: 'Uluru (Ayers Rock)'
					  	});

					  	<% if @marc[@i].Imagen == "" %>
					  		<%@marc[@i].Imagen = "http://img.rtve.es/css/i/blank.gif" %>
					  	<%end%>
					    
					    <% if @marc[@i].Video == "http://img.rtve.es/css/i/blank.gif" %>
							<% @width_video = 1 %>
							<% @height_video = 1 %>
						<% else %>
							<% @width_video = 420 %>
							<% @height_video = 315 %>
						<% end %>

						<% if @marc[@i].Imagen == "http://img.rtve.es/css/i/blank.gif" %>
							<% @width = 1 %>
							<% @height = 1 %>
						<% else %>
							<% @width = 420 %>
							<% @height = 315 %>
						<% end %>

					    contentString[i] = '<div id="content">'+
					      '<div id="siteNotice">'+
					      '</div>'+
					      '<h1 id="firstHeading" class="firstHeading"><%= @marc[@i].Nombre %></h1>'+
					      '<div id="bodyContent">'+
					      '<p><%= @marc[@i].Texto %></p>'+
					      '<img src = <%=@marc[@i].Imagen%> width=<%= @width %> height=<%= @height %> >'+
					      '<center><iframe width=<%= @width_video %> height=<%= @height_video %> '+
						  'src= <%=@marc[@i].Video%>>'+
					      '</iframe></center>'+ 
					      '</div>'+
					      '</div>';

					    

					    infowindow[i] = new google.maps.InfoWindow({
					    content: contentString[i]
					  	});

					  	marker[i].addListener('click', function() {
					    infowindow[this.id].open(map, this);
					    $("#Modificar").show();
					    $("#Marcador").hide();
					    document.getElementById("modificar_id").value = this.id;
					    document.getElementById("eliminar_id").value = this.id;
					  	});

					  	i=i+1;
					  	<% @i = @i+1 %>;
				  	<% end %>
				  }	
				  
				  

				  map.addListener('click', function(e) {
          			placeMarkerAndPanTo(e.latLng, map);
        			});

				  function placeMarkerAndPanTo(latLng, map) {
        			
        			var longitud = parseFloat(document.getElementById("longitud").value);
        			var latitud = parseFloat(document.getElementById("latitud").value);
        			var superficie = parseFloat(document.getElementById("superficie").value);
        			var latitud_mar = parseFloat(latLng.lat());
        			var longitud_mar = parseFloat(latLng.lng());
        			var latitud_super = latitud - superficie;
        			var longitud_super = longitud + superficie;
        			if(latitud_mar <= latitud && longitud_mar >= longitud && latitud_mar >= latitud_super && longitud_mar <= longitud_super){
        				window.alert("El marcador se ha agregado");
        				document.getElementById("marcador_longitud").value = longitud_mar;
        				document.getElementById("marcador_latitud").value = latitud_mar;
        				var marker = new google.maps.Marker({
          				position: latLng,
          				map: map
        				});
        				map.panTo(latLng);
        				$("#Marcador").show();
        				$("#Modificar").hide();
        			}
        			else{
        				window.alert("Ubicación incorrecta");
        			}
        		  
      		      }

				}
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBWHqhQhcKgZQnTT4Zqa3wkO4DYu-xdiw&callback=initMap">
			</script>
		</div>
	</div>
  </body>
</html>