<!DOCTYPE html>
<html>
<head>
  <title></title>
 
</head>
<body class = "body1">

  <div class="container-fluid">
      <div class="container-fluid "> 
          <div class="col-xs-8 col-md-6 col-lg-4 col-xs-offset-2 col-md-offset-3 col-lg-offset-4 baner">
              <div class ="row justify-content-center">
                  <div class ="col-xs-12 col-md-12 col-lg-12">
                      <h1 id= "Llogin-lg">Log in</h1>
                          
                      <% flash.each do |key, value| %>
                          <div class="alert alert-<%= key %> alert-dismissable" id="Llogin-xs">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                              <%= value %>
                          </div>
                      <% end %>
                  </div>
              </div>    
              <div class ="row justify-content-center">
                  <div class ="col-xs-12 col-md-12 col-lg-12">
                      <div class ="form-grup"> 
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                              <div class="field " id= "Llogin-sm">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true ,class:"form-control" %>
                              </div>  

                              <div class="field" id= "Llogin-sm">
                                <%= f.label :password %><br />
                                <%= f.password_field :password, autocomplete: "off" ,class:"form-control" %>
                              </div>

                              <% if devise_mapping.rememberable? -%>
                                <div class="field" id= "Llogin-sm">
                                  <%= f.radio_button :remember_me ,class:"form-check-input"%>
                                  <%= f.label :remember_me %>
                                </div>
                              <% end -%>

                              <div class="actions" id= "Llogin-md">
                                <%= f.submit "Log in" ,class:"btn btn-default btn-lg"%>
                                <a type="button" class="btn btn-default btn-lg" href="http://localhost:3000/">
                                    Regresar
                                </a>
                              </div>
                          <% end %>
                      </div>
                      <br>
                      <br>
                  </div>
              </div>
          </div> 
      </div>
  </div>

</body>
</html>